@* @model ShopApp.DataAccess.Models.Product *@

@{
    ViewData["Title"] = "Added";
}

<h1>Details</h1>
<div>
	<a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 btn-sm text-uppercase">Back to List</a>
</div>